@charset "utf-8";
/* CSS Document */


a:link
{
    color:pink;
    background-color:plum;
    text-decoration: none;
    padding:15px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    border-radius: 10px;

}
a:visited
{
    color:violet;
    background-color:honeydew;
    text-decoration: none;
}
a:hover
{
    color: turquoise;
    background-color: whitesmoke;
    text-decoration: none;
}
a:active
{
    color:coral;
    background-color:peachpuff;
    text-decoration: none;
}

h1 {border: 2px solid Tomato;
}

body {
    background-color:#ffdae0;
}


h2{font-family: 'Redressed', cursive;
  font-size: 14pt;}

  footer { display:block;
    text-align: center;
    font-size: 80%;
    font-style: italic;
    color: #FFFFFF;
    padding: 20px;
    margin: auto;
    clear: both;
    background-color: #175A9E;
    background-size: auto;
}